body {
  background-color: rgb(30, 30, 30);
  padding: 5vw 10vw 0 10vw;
}

section {
  color: rgb(242, 193, 149);
  font-family: Arial, Helvetica, sans-serif;
}

#names {
  color: rgb(242, 193, 149);
  font-family: Arial, Helvetica, sans-serif;
}

#firstName {
  font-size: clamp(1rem, 4vw, 5rem);
  margin-bottom: -1.3vw;
}


#viewButton {
  background-color: rgb(248, 50, 109);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.4rem, 1vw, 4rem);
  border: none;
  border-radius: 0.5vw;
  padding: 1vw 2vw;
  cursor: pointer;
}

#viewButton:hover {
  background-color: rgb(161, 31, 70);
}

#viewButton:active {
  background-color: rgb(110, 13, 42);
}

#buttonClass {
  margin-top: -0.5vw;
}

#myPicture {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#skill {
  font-size: clamp(1rem, 3vw, 10rem);
  font-weight: 100;
}

#pictureContainer {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 15vw;
}

#topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.5vw;
}

#aboutSection {
  max-width: 80vw;
}

.subHeading {
  font-size: clamp(1rem, 3vw, 10rem);
}

.smallTexts {
font-size: clamp(0.7rem, 2vw, 2rem);
}

#li {
  list-style-type: square;
}

.skillBox {
  background-color: rgb(43, 43, 43);
  padding: 0.1vw 3vw;
  border-radius: 1vw;
}

#allSkillBox {
  display: flex;
  column-gap: 40px;
}

.skills {
  font-size: clamp(0.7rem, 1.4vw, 2rem);
}

.skillType {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  background-color: rgb(43, 43, 43);
  padding: 2vw;
  border-radius: 1vw;
}

.expImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.allSkillType{
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}

#git, #live {
  background-color: rgb(248, 50, 109);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.4rem, 1vw, 4rem);
  border: none;
  border-radius: 0.5vw;
  padding: 1vw 2vw;
  cursor: pointer;
}

#git:hover, #live:hover {
  background-color: rgb(161, 31, 70);
}

#git:active, #live:active {
  background-color: rgb(110, 13, 42);
}

#buttonsDiv {
  display: flex;
  justify-content: space-between;
}

.socialIcon {
  cursor: pointer;
  width: 4vw;
}
.allSocials {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}


.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 1023px) {
  body {
    padding: 5vw;
  }
  #pictureContainer {
    width: 18vw;
    height: 18vw;
    overflow: hidden;
    border-radius: 10vw;
  }
  #topSection {
    display: flex;
    align-items: center;
    column-gap: 10vw;
  }
  #aboutSection {
    max-width: 90vw;
  }
  .allSkillType {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .skillType {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  .skillTitle {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .skillDetails{
    font-size: 0.8rem;
  }
  #git, #live {
    font-size: 0.6rem;
  }
  #buttonsDiv{
    display: flex;
    justify-content: center;
    column-gap: 5vw;
  }
}